<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"  xmlns:gap = "http://phonegap.com/ns/1.0"  id = "hcwcbmoh.com"  versionCode = "1" version = "1.0.0" > 

    <name>Hcwcbmoh</name>

    <description>Hcwcbmoh</description>

    <author href="http://www.vantagewebtech.com" email="vantage.krishna@gmail.com">Krishna Kumar</author>
	<preference name="orientation" value="portrait" />
	<preference name="prerendered-icon" value="true" />
	<preference name="deployment-target" value="7.0" />		
	<plugins>
        <plugin name="NetworkStatus" value="CDVConnection" />
    </plugins>
	<plugin name="cordova-plugin-device" spec="1.0.1" source="pgb" />		
	<icon gap:platform="webos" src="icons/ios/icon-180.png" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="ldpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="mdpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="hdpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="xhdpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="xxhdpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="ldpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="mdpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="hdpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="xhdpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="android" gap:density="xxhdpi" />
	<icon src="images/mobi_icon.jpg" gap:platform="winphone" />
	<icon src="images/mobi_icon.jpg" gap:platform="winphone" gap:role="background" />
	
	<gap:splash src="icons/ios/screen-iphone-portrait.png" gap:platform="ios" width="180" height="180" />
	<icon src="icons/ios/icon-120.png" platform="ios" width="120" height="120" />
	<icon src="icons/ios/icon-180.png" platform="ios" width="180" height="180" />
	
    <access origin="*"/>    
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<allow-navigation href="*" />	
</widget>